In [1]:
# Import Dependencies
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [2]:
# Import dotenv values
load_dotenv(".env")
DB_USER = os.getenv("DB_USER")
DB_PASSWD = os.getenv("DB_PASSWD")

In [3]:
# Import CSV data file
file_path = "resources/disney_plus_shows.csv"
disney_plus_df = pd.read_csv(file_path)

### Clean-up

In [4]:
# Re-initalize dataframe with selected columns
disney_plus_df = disney_plus_df[['imdb_id', 'title', 'plot', 'type', 'rated']]

In [5]:
# rename columns
disney_plus_df.rename(columns={"imdb_id":"imdb_title_id", "rated":"mpaa_rating"}, inplace=True)

In [6]:
# Fill NaN mpaa_rating with NR
disney_plus_df.loc[:,"mpaa_rating"].fillna("NR", inplace=True)

In [7]:
disney_plus_df.head()

,imdb_title_id,title,plot,type,mpaa_rating
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NR
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G

### Load to Database

In [8]:
# Database Connection
connection_string = f"{DB_USER}:{DB_PASSWD}@localhost:5432/movies_db"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

In [9]:
# Insert dataframe into database table
disney_plus_df.to_sql(name='disney_plus', con=engine, if_exists='replace', index=False)

In [ ]:
# Close and Dispose of DB connection
conn.close()
engine.dispose()