In [1]:
# importing dependencies
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [2]:
# Import dotenv values
load_dotenv(".env")
DB_USER = os.getenv("DB_USER")
DB_PASSWD = os.getenv("DB_PASSWD")

In [3]:
#importing imdb files
imdb_movies_path = "resources/imdb_movies.csv"
movies_df = pd.read_csv(imdb_movies_path)

C:\Users\Michael\anaconda3\envs\GTDataDev\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
movies_df.columns
movies_min = movies_df[['imdb_title_id', 'title', 'year', 'genre', 'description', 'reviews_from_users', 'reviews_from_critics']]
movies_min.head()

,imdb_title_id,title,year,genre,description,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,1894,Romance,The adventures of a female reporter in the 1890s.,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",True story of notorious Australian outlaw Ned ...,7.0,7.0
2,tt0001892,Den sorte drøm,1911,Drama,Two men of high rank are both wooing the beaut...,5.0,2.0
3,tt0002101,Cleopatra,1912,"Drama, History",The fabled queen of Egypt's affair with Roman ...,25.0,3.0
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",Loosely adapted from Dante's Divine Comedy and...,31.0,14.0

In [5]:
# Expect True
movies_min.isnull().values.any()

True

In [6]:
 movies_min['reviews_from_users'].fillna(0,inplace=True)
 movies_min['reviews_from_critics'].fillna(0,inplace=True)
 movies_min['description'].fillna("",inplace=True)

C:\Users\Michael\anaconda3\envs\GTDataDev\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [7]:
# Expect False
movies_min.isnull().values.any()

False

In [8]:
connection_string = f"{DB_USER}:{DB_PASSWD}@localhost:5432/movies_db"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

# Insert data into database table
movies_min.to_sql(name='movies', con=engine, if_exists='replace', index=False)

# Close and Dispose of DB connection
conn.close()
engine.dispose()